<div class="formsResults">
  <h1>Forex Live Wall</h1>
  <form [formGroup]="userInputForm" (ngSubmit)="onSubmit()">
    <div class="inputForm">
      <label for="currencies">Currencies</label>
      <input formControlName="currency" name="currencies" type=text maxlength="7">
      <div *ngIf="input.currency.invalid && input.currency.touched">
        <div *ngIf="input.currency.errors?.required">
          Currency pairs are required.
        </div>
        <div *ngIf="input.currency.errors?.pattern">
          Invalid input! Example input: <span class="example">EUR/USD</span>
        </div>
      </div>
    </div>
    <div class="inputForm">
      <label for="interval">Update interval in seconds</label>
      <input formControlName="interval" type="number" name="interval" max="600">
      <div *ngIf="input.interval.invalid && input.interval.touched">
        <div *ngIf="input.interval.errors?.max">
          Maximum interval is 600 seconds or 10 minutes.
        </div>
      </div>
    </div>
    <input type="submit" value="Submit" class="submit" [disabled]="!userInputForm.valid">
  </form>
  <table>
    <thead>
      <tr>
        <th colspan="2">Ticker</th>
        <th>Bid</th>
        <th>Ask</th>
        <th>Open</th>
        <th>Low</th>
        <th>High</th>
        <th>Changes</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let result of results">
        <td>{{result.ticker.split('/')[0]}}</td>
        <td>{{result.ticker.split('/')[1]}}</td>
        <td>{{result.bid}}</td>
        <td>{{result.ask}}</td>
        <td>{{result.open}}</td>
        <td>{{result.low}}</td>
        <td>{{result.high}}</td>
        <td>{{result.changes}}</td>
        <td>{{dateTime()}}</td>
      </tr>
    </tbody>
  </table>
</div>
