<div class="formsResults">
  <h1>Forex Live Wall</h1>
  <form [formGroup]="userInputForm" (ngSubmit)="onSubmit()">
    <div class="inputForm">
      <label for="currencies">Currencies</label>
      <input formControlName="currency" name="currencies" type=text maxlength="7">
    </div>
    <div class="inputForm">
      <label for="interval">Update interval in seconds</label>
      <input formControlName="interval" type="number" name="interval">
    </div>
    <div class="inputForm">
      <label for="api">Enter API key(optional)</label>
      <input formControlName="apiKey" type="text" name="api">
    </div>
    <input type="submit" value="Submit">
  </form>
  <table>
    <thead>
      <tr>
        <th>Ticker</th>
        <th>Bid</th>
        <th>Ask</th>
        <th>Open</th>
        <th>Low</th>
        <th>High</th>
        <th>Changes</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let result of results">
        <td>{{result.ticker}}</td>
        <td>{{result.bid}}</td>
        <td>{{result.ask}}</td>
        <td>{{result.open}}</td>
        <td>{{result.low}}</td>
        <td>{{result.high}}</td>
        <td>{{result.changes}}</td>
        <td>{{result.date}}</td>
      </tr>
    </tbody>
  </table>
</div>
